<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.elearningapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ELearningApp">
        <activity
            android:name="my.project.EdTecharc.user.UserRealDashboard"
            android:exported="true" />
        <activity
            android:name="my.project.EdTecharc.PlayCourse"
            android:exported="true" />
        <activity
            android:name="my.project.EdTecharc.tutor.AddCourse"
            android:exported="true" />
        <activity
            android:name="my.project.EdTecharc.PlayVideo"
            android:exported="true" />
        <activity
            android:name="my.project.EdTecharc.admin.AdminResetPasswordActivity"
            android:exported="true" />
        <activity
            android:name="my.project.EdTecharc.tutor.TutorResetPasswordActivity"
            android:exported="true" />
        <activity
            android:name="my.project.EdTecharc.user.UserResetPasswordActivity"
            android:exported="true" />
        <activity
            android:name="my.project.EdTecharc.admin.AdminDashboard"
            android:exported="true" />
        <activity
            android:name="my.project.EdTecharc.tutor.TutorDashboard"
            android:exported="true" />
        <activity
            android:name="my.project.EdTecharc.user.UserDashboard"
            android:exported="true" />
        <activity
            android:name="my.project.EdTecharc.admin.AdminRegister"
            android:exported="true" />
        <activity
            android:name="my.project.EdTecharc.tutor.TutorRegister"
            android:exported="true" />
        <activity
            android:name="my.project.EdTecharc.user.UserRegister"
            android:exported="true" />
        <activity
            android:name="my.project.EdTecharc.admin.AdminLogin"
            android:exported="true" />
        <activity
            android:name="my.project.EdTecharc.tutor.TutorLogin"
            android:exported="true" />
        <activity
            android:name="my.project.EdTecharc.user.UserLogin"
            android:exported="true" />
        <activity
            android:name=".VideoActivity"
            android:exported="true" />
        <activity
            android:name="my.project.EdTecharc.AddVideoActivity"
            android:exported="true" />
        <activity
            android:name="my.project.EdTecharc.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>